.section-store {
	.view-store {
		// Product Display Style.
		.node-product-display.node-teaser {
			border: 1px solid #DDD;
			margin-bottom: 15px;
			padding-left: 15px;
			padding-right: 15px;

			h2 {
				font-size: rem-calc(30);
			}

			@media #{$medium-up} {
				@media #{$portrait} {
					
				}
			}

			.node-title,
			.field-name-commerce-price,
			.field-name-field-duration {
				margin-bottom: 10px;
			}
		}

	  // Positioning Product Display.
		.views-row {
			@media #{$medium-up} {
				float: left;
				width: 32%;
				margin-left: 1%;
				@media #{$portrait} {
					width: 49%;
					margin-left: 0;
				}
			}
		}
		.views-row-even {
			@media #{$medium-up} {
				@media #{$portrait} {
					margin-left: 2%;
				}
			}			
		}
	}	
}