.node-server,
.node-radius-user {
	&.node-teaser {
		border: 1px solid #CCC;
		margin-bottom: 10px;
		min-height: 250px;

		padding: 15px;

		.field {
			line-height: 25px;
		}

		@media #{$medium-up} {
			width: 30%;
			float: left;

			margin-right: 15px;
			margin-bottom: 30px;
		}


		h2 {
			font-size: rem-calc(16);
			line-height: rem-calc(20);
		}

		.field-name-title {
			h2 {
				font-size: rem-calc(22);
				line-height: rem-calc(25);
			}
		}

		.field-name-field-status {
 			.active {
 				text-transform: capitalize;
				color: green;
			}

			&.expired .active {
				text-transform: capitalize;
				color: red;
			}
		}

		ul {
			list-style: none;
			margin: 0;
		}

		.field-label {
			margin: 0;
			padding-right: 5px;
		}

		.buttons-group {
			list-style-type: none;
			margin-left: 0;
			padding-top: 5px;

			a {
				margin-bottom: 10px;
				width: 100%;
			}
		}
	}
}